body{
	margin:0px;
	padding: 0px;
}
#loruki{
	font-size: 50px;
	font-weight: bold;
	color:#fff;
	padding-left:100px;
}
.container{
	max-width: 1100px;
	background-color: #047aed;
	display: grid;
	padding-left:10px;
}
nav ul{
	list-style-type: none;
}
nav ul li{
	float: right;
}
nav ul li a{
	text-decoration: none;
	display: inline;
	padding:20px;
	position: relative;
	top:-90px;
	color:#fff;
	right:50px;
	font-size:20px;
}
form{
	float: right;
	display: grid;
	grid-template-columns: repeat(1,1fr);
	background-color: #fff;
	position: relative;
	padding: 70px 20px;
	height: 200px;
	top:-100px;
	border-radius: 10px;
	right:100px;
	width: 350px;
	margin-top: -100px;
}
#name{
	border:0;
	border-bottom: 1px solid black;
}
#company{
	border:0;
	border-bottom: 1px solid black;
}
#email{
	border:0;
	border-bottom: 1px solid black;
}
#easier{
	width: 400px;
	margin-left:100px;
	font-size: 20px;
}
.trinh{
	border-radius: 10px;
	width: 100px;
	height: 40px;
	background-color: #047aed; 
	color:#fff;
	position: relative;
	top:20px;
	border: none;
}
.next p{
	color: #fff;
}
#readmore a{
	font-size: 20px;
	background-color: #fff;
	text-decoration: none;
	color: #047aed;
	border-color: #fff;
	width: 50px;
	padding: 15px 15px;
	border-radius: 10px;
	position: relative;
	top:50px;
}
form input:focus {
	outline: none;
}
#deploy{
	font-size: 50px;
}
h3{
	text-align: center;
	font-size: 25px;
	width:600px;
	padding-left: 250px;
	padding-top: 50px;
}
#anh1{
	width: 80px;
	height: 80px;
}
#anh2{
	width: 80px;
	height: 80px;
}
#anh3{
	width: 80px;
	height: 80px;
}
.box{
	float: left;
	width: 25%;
	padding-left: 20px;
	padding-top: 30px;
}
.box1{
	font-size: 30px;
}
.box2{
	font-weight: bold;
	font-size: 30px;
}
.anh{
	padding-left: 20px;
}
#a{
	position: relative;
	left:-10px;
}
#b{
	position: relative;
	left:15px;
}
#c{
	position: relative;
	left:10px;
}
.card{
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	padding: 20px;
	margin:10px;
	width: 300px;
	position: relative;
	left:-100px;
}
#anh4{
	width: 600px;
	height: auto;
}
.next2{
	display: grid;
	grid-template-columns: repeat(3,1fr);
	position: relative;
	
	float: left;
}
.next2 > *:first-child{
	grid-column: 1/ span 2;
	grid-row: 1 / span 2;
}
#phan4{
	float: left;
	background-color: #047aed;
	position: relative;
	width: 1120px;
	height:400px;
}
#phan41{
	font-size: 50px;
	font-weight: bold;
	color: #fff;
}
#phan42{
	font-size: 20px;
	font-weight: bold;
	color: #fff;
}
#cloud img{
	width: 500px;
	height: auto;
	float: right;
	position: relative;
	top:-200px;
}
.readmore1{
	text-align: center;
	position: relative;
	left:-300px;
}
.card1{
	float: left;
	width: 5%;
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	padding: 20px;
	margin:20px;
	align-items: center;
	text-align: center;
	position: relative;
	top:450px;
	left:-1150px;
}
.card2{
	position: relative;
	left:-450px;
	top:225px;
}
#anh14{
	height: 60px;
	width: 60px;
}
#anh15{
	height: 60px;
	width: 60px;
}
#anh16{
	height: 60px;
	width: 60px;
}
#anh17{
	height: 60px;
	width: 60px;
}
footer{
	position: relative;
	top:1180px;
	left:-1450px;
}
.anhs{
	position: relative;
	right: -800px;
	top:-80px;
}