body{
	margin-left: 4%;
}
.header__title img {
	width: 60px;
	height: 60px;
	float: left;
}
.header__title p{
	color: #7c8e99;
	position: relative;
	top:-17px;
}
.menu ul{
	list-style-type: none;
}
.menu ul li{
	color: black;
	display: inline-table;
}
.menu ul li a{
	text-decoration: none;
	padding: 20px;	
	font-weight: bold;
}
.menu__primary{
	display: none;
}
.menu{
	padding-left: 8%;
	margin-top: -3.8%;
}
.header__numberphone{
	position: relative;
	left:70%;
	font-weight: bold;
	top:-35px;
}
.logo img{
	width: 20px;
	height: 20px;
	padding: 10px;
	float: right;
	margin-top: -2.1%;
	margin-right: 1%;
	position: relative;
	top: -40px;
}
.menu--color{
	color:#ffd172;
}
.img1{
	width: 1830px;
	height: 800px;
	margin-left: -20px;
}
button{
	color:black;
	font-weight: bold;
	padding: 20px 50px;
	border: none;
	background-color: #ffb31a;
}
.mid__secondary{
	color :#fff;
	font-size: 20px;
	font-weight: bold;
	position: relative;
	top: -25px;
}
.mid__primary{
	font-size: 60px;
	color: #fff;
	font-weight: bold;
}
.mid {
	position: relative;
	top:-620px;
	left: 350px;
}
.content{
	position: relative;
	top:-250px;
}
.content__img1{
	float: right;
}
.content__quality p:first-child{
	font-size: 50px;
	font-weight: bold;
	width: 300px;
}
.content__quality p:not(:first-child){
	font-size: 20px;
	color:#968686;
	width: 50%;
}
.content__quality{
	margin-left: 19%;
}
.content__img img:not(:nth-child(4))
{
	padding: 50px;
	position: relative;
	left: 15.5%;
}
.content__img1{
	padding-right: 15%;
	margin-top: -17%;
}
.hero .menu span{
	color: #ffb31a;
	border-bottom: 1px solid #ffb31a;
}
.hero{
	position: relative;
	left: 10%;
	top: -200px;
}
.hero p{
	font-weight: bold;
	font-size: 40px;
	position: relative;
	top: -10px;
	left: 8.5%;
}
.grid{
	padding-left: 155px;
	padding-top: 50px;
	margin-left: -30px;
}
.grid img{	
	float: left;
	padding-left: 28px;
}
.grid-1{
	float: left;
	width: 35%;
}
.grid-1 img {
	padding-top: 28px;
	position: relative;
	top: -25px;
}
.menu-1{
	margin-left: -50px;
	margin-top: -1px;
}
.menu-1 nav ul li a{
	font-size: 15px;
	color: #ccc;
}
.page p:first-child{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	position: relative;
	top: 500px;
	left: -710px;
	z-index: 1;
}
.page p:nth-child(2){
	color: #fff;
	font-weight: bold;
	font-size: 35px;
	position: relative;
	top: 30px;
	width: 400px;
	left: 710px;
	text-align: center;
	z-index: 1;
}
.page p:nth-child(3){
	color: #868686;
	font-size: 25px;
	position: relative;
	left: 370px;
	width:1200px;
	top: 30px;
	z-index: 1;
}
content-next-1 p:nth-child(4){
	color: #868686;
	font-size: 25px;
	position: relative;
	z-index: 2;
	color: pink;
	right: -700px;
}
.page span {
	color:#ff9622;
}
.page img {
	margin-top: -7%;
	position: relative;
	top: -180px;
	left: -25px;
}
.page p{
	position: relative;
	top: 500px;
	left: -700px;
}
.page__special p{
	position: relative;
	top: -460px;
	left: 820px;
	color: #fff;
	font-weight: bold;
}
.page__special span{
	color:#ff9622;
}
.btn img {
	float: left;
}
.btn{
	padding-top:30px;
	padding-left: 30px;
	padding-bottom: 10px;
	width: 260px;
	background-color: #ffb31a;
	border-radius: 10px;
}
.btn p{
	margin-top: 2px;
	font-weight: bold;
}
.Blog .grid4{
	float: left;
	width: 23%;
}
.Blog__grid p:first-child{
	color: #ff9622;
	font-weight: bold;
}
.Blog__grid p:nth-child(2){
	font-size: 40px;
	font-weight: bold;
}
.Blog__grid p:nth-child(3){
	color: #dcc1b5;
	width: 370px;
	font-size: 20px;
}
.btn p:first-child{
	font-size: 15px;
}
.November{
	color: #ccc;
}
.best{
	font-weight: bold;
	font-size: 25px;
	width: 330px;
}
.Blog{
	position: relative;
	left: 20%;
	top: -110px;
}
.line{
	position: relative;
	top: 370px;
	left: -26%;
}
.line img{
	float: left;
	margin-top: 5px;
	padding-left:-5px;
}
.line p{
	color: #cacaca;
	font-weight: bold;
	font-size:17px;
}
.footer__img{
	position: relative;
	top: 300px;
	left:-30px;
}
footer nav ul{
	list-style-type: none;
}
footer nav ul li a {
	text-decoration: none;
	font-size: 25px;
	color: #86857a;
	position: relative;
	text-align: center;
	line-height: 30px;
	height: 30px;
}
footer .header__title{
	position: relative;
	z-index: 1;
}
footer h2 {
	color: #fff;
	font-size: 30px;
}
footer .header__title p{
	font-size: 20px;
}
.footer__menu{
	position: relative;
	left: 420px;
	top: -150px;
}
footer nav ul li{
	padding: 10px;
}
.footer__menu1{
	position: relative;
	top:-370px;
	left: 730px;
}
.logo__special{
	margin-top: -400px;
}
.footer__end{
	position: relative;
	left: 1400px;
	color: #86857a;
	font-size: 20px;
	top: 100px;
}
@media screen and (max-width: 500px)
{
	.menu nav ul li{
		display: block;
		padding: 10px;
	}
	body{
		margin: 0px;
		padding: 0px;
	}
	.header__numberphone{
		position: relative;
		left: 110px;
		top: -10px;
	}
	.logo{
		margin-right: 215px;
		margin-top: 40px;
	}
	.img1{
		width: 110%;
		height: 70%;
	}
	.mid p{
		font-size: 90%;
		position: relative;
		top: 400px;
		color: #fff;
		left: -300px;
	}
	button{
			padding: 10px 20px;
			position: relative;
			top: 400px;
			left: -300px;
	}
	.content__quality p{
		font-size: 50%;
		padding-top: 50px;
		width:100%;
	}
	.page img {
		width: 110%;
	}
	.aside{
		position: relative;
		top: 500px;
		margin-left: -110px;
	} 
	.aside1{
		position: relative;
		top: 900px;
		margin-left: -110px;
	} 
	.footer__img{
		margin-top: 100px;
	}
	.line{
		margin-top: 900px;
		margin-left: 200px;
		width: 400px;
	}
	.grid img {
		position: relative;
		left: -100px;
	}
	.footer__img{
		height: 1000px;
	}
	.header__title{
		position: relative;
		top: -700px;
	}
	.footer__menu{
		position: relative;
		left: -50px;
		top: -700px;
	}
	.footer__menu1{
		position: relative;
		left: -50px;
		top: -700px;
	}
	.logo{
		position: relative;
		top: -650px;
		left: -100px;
	}
	.footer__end{
		margin-top: -700px;
		margin-left: -1400px;
	}
}