body{
	margin: 0px;
	padding: 0px;
}
#all{
	width: 1100px;
	padding-left: 300px;
}
#loruki{
	font-size: 50px;
	font-weight: bold;
	color:#fff;
	padding-left:100px;
}
.container nav ul{
	list-style-type: none;
}
.container nav ul li{
	float: right;
}
.container nav ul li a{
	text-decoration: none;
	display: inline;
	padding:20px;
	position: relative;
	top:-90px;
	color:#fff;
	right:50px;
	font-size:20px;
}
.container{
	max-width: 1100px;
	background-color: #047aed;
	display: grid;
	padding-left:10px;
	height: 430px;
}
#docs img{
	height: 200px;
	width:200px;
	float: right;
	margin-top: -350px;
	margin-right: 50px;
}
#features{
	font-size: 70px;
	color: #fff;
	padding-left: 100px;
	position: relative;
	top:-80px;
}
#check{
	color: #fff;
	font-size: 25px;
	width: 300px;
	padding-left: 100px;
	position: relative;
	top:-100px;	
}
#grid4{
	display: grid;
	grid-template-columns: 1fr 2fr;
}
#grid4 nav ul {
	list-style-type: none;
}
#grid4 nav ul li a{
	text-decoration: none;
	color: black;
}
span{
	line-height: 40px;
	border-bottom: 2px solid #047aed;
	font-size: 20px;
}
#grid41{
	color:black;
	background-color: #ccc;
	padding: 20px;
	margin: 10px;
	height: 400px;
	border-radius: 10px;
}
.intro{
	color: #047aed;
}
#lorem{
	font-size:20px;
}
#phan5{
	background-color: #fff;
	border: 1px solid black;
	padding:20px;
	margin: 10px;
	box-shadow: 0 3px 10px rgba(0,0,0,0.2);
	border-radius: 10px;
}
#lorem1{
	background-color: green;
	padding:1px 5px;
	font-size: 20px;
	color: #fff;
	border-radius: 10px;
}
#lorem2{
	font-size: 20px;
}
#lorem3{
	font-size: 27px;
}
#install{
	border-radius: 10px;
	background-color: #047aed;
	color:#fff;
	padding: 10px;
	width: 40px;
	text-decoration: none;
}
pre{
	background-color: black;
	color:#fff;
	padding: 10px;
}
.lorem5{
	font-size: 30px;
}
#end{
	background-color: #95f435;
	height: 150px;
}
#phancuoi p{
	color: #fff;
	padding-left: 30px;
}
#phancuoi1{
	font-size: 40px;
}
#phancuoi2{
	font-size: 30px;
}
#step img {
	width: 50px;
	height: 50px;
	float: right;
	position: relative;
	top:-100px;
	left: -50px;
}